body{
	background-color:#AAAAAA;
	background-image:url("../img/sd/mario.jpg");
	background-witdh: 100%;
	background-size: 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;

}

#canvas {
	display:block;
	margin: 0 auto;
    border: 4px solid black;
	background-color:black;
}
